src/App.css

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.app {
  height: 100vh;
  overflow: hidden;
}

.table-container {
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.network {
  margin: 50px;
  display: flex;
}

.victim {
  margin: 50px;
  display: flex;
}

.time {
  margin: 50px;
  display: flex;
}

